.row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: red;
  color: white;
}

ul li {
  list-style: none;
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 40px;
}

ul {
  background-color: rgb(125, 34, 133);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

.li-style {
  text-decoration: line-through;
  background-color: rgb(49, 48, 45);
}
